
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
        }

        header {
            background-color: #ffffff;
            text-align: center;
            padding: 20px;
            margin-bottom: 20px;
            height: 170px;
        }

        .filters {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
        }

        .filters button,
        .filters select {
            background-color: #1e79b9;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            margin: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;
        }

        .filters button:hover,
        .filters select:hover {
            background-color: #0056b3;
        }

        .filters select {
            padding: 8px;
        }

        .catalog-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }

        .card {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 300px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            transition: transform 0.3s;
        }

        .card:hover {
            transform: scale(1.05);
        }

        .card img {
            width: 100%;
            height: 300px;
            object-fit: contain;
        }

        .card-content {
            padding: 15px;
            text-align: center;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .card h3 {
            font-size: 15px;
            color: #333;
            margin-bottom: 10px;
            font-style: italic;
        }

        .card p {
            font-size: 1em;
            color: #666;
            margin-bottom: 10px;
            font-style: italic;
        }

        .card .product-code {
            font-weight: bold;
            color: #555;
        }

        .card-actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
        }

        .quantity-input {
            width: 50px;
            padding: 5px;
            text-align: center;
        }

        .add-to-cart-btn {
         
            background-color: #28a745;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 20px 10px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .add-to-cart-btn:hover {
            background-color: #218838;
        }

        .cart-icon {
            position: fixed;
            bottom: 20px;
            right: 25px;
            background-color: #5496dd;
            color: #fff;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            z-index: 1000;
        }

        .cart-icon:hover {
            background-color: #0056b3;
        }

        .cart-container {
            position: fixed;
            top: 0;
            right: -300px;
            width: 300px;
            height: 100%;
            background-color: #fff;
            box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
            transition: right 0.3s ease-in-out;
            z-index: 1001;
            overflow-y: auto;
            padding: 20px;
        }

        .cart-container.open {
            right: 0;
        }

        .close-cart {
            position: absolute;
            top: 25px;
            right: 10px;
            cursor: pointer;
            font-size: 20px;
            background-color: rgb(216, 40, 40);
            border-radius: 5px;
            height: 20px;
            width: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cart-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #eee;
            font-size: 12px;
        }

        .order-button {
            position: absolute;
            top: 20px;
            right: 20px;
            background-color: #28a745;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
            text-decoration: none;
            transition: background-color 0.3s;
        }

        .order-button:hover {
            background-color: #218838;
        }

        @media print {
            body {
                margin: 0;
                padding: 0;
            }

            header, .filters, .cart-icon, .cart-container, .card-actions {
                display: none;
            }

            .catalog-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;
                margin: 0px;
            }

            .card {
                width: 100%;
                page-break-inside: avoid;
                height: 335px;
                box-shadow: none;
                border: 0.5px solid  rgb(245, 241, 241);
            }

            .card img {
                height: 280px;
            }

            .card-content {
                font-size: 12px;
            }
            .card h3 {
                font-size: 10px;
                font-style: italic;
            }
            #search-input{
             display: none;
            }
            .card .product-code {
                color: rgb(126, 12, 12);
            }
            .whatsapp{
                display: none;
            }
            #show-sellers{
                display: none;
            }
        }

        .vendor-select {
            margin: 20px 0;
        }

        .vendor-select select {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;
        }

        .vendor-select select:hover {
            background-color: #0056b3;
        }

        .send-message-btn {
            background-color: #28a745;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
            text-decoration: none;
            transition: background-color 0.3s;
        }

        .send-message-btn:hover {
            background-color: #218838;
        }
        .search-container {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        .search-container input {
            width: 300px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            transition: border-color 0.3s;
        }

        .search-container input:focus {
            border-color: #007bff;
            outline: none;
        }
        .print-button {
            background-color: #5496dd;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            margin: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;

        }
        .print-button:hover {
         background-color: #0056b3;
        }
        .cart-count {
            background-color: red; /* Cor de fundo vermelha */
            color: white; /* Cor do texto em branco */
            border-radius: 50%; /* Forma redonda */
            padding: 5px 10px; /* Espaçamento interno */
            position: absolute; /* Para posicionar sobre o ícone */
            top: -5px; /* Ajuste a posição conforme necessário */
            right: -10px; /* Ajuste a posição conforme necessário */
            font-size: 0.8em; /* Tamanho da fonte */
        }
        #show-all{
            display: none;
        }                    
        .logo{
            height: 190px;
        }

        #show-sellers{
            width: 70px;
            height: 70px;
            background-color: #007bff;
            position: fixed;
            top: 0;
            right: 25px;
            top: 470px;
            border-radius: 50px;
            border: none;
        }

        .whatsapp{
            width: 70px;
            height: 70px;
        }
        #sellers-list{
            font-weight: 500;
    
            
        }

        #sellers-list li {
            list-style: none;
            border: 1px solid gray;
            border-radius: 9px;
            height: 25px;
            font-size: 20px;
            margin: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
            font-weight: bold;
        }
        #close-sellers{
            background-color: rgb(216, 40, 40);
            font-size: 19px;
            font-weight: bold;
            border: none;
            border-radius: 9px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px;
    
        }
        #download-pdf{
            background-color: #1e79b9;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            margin-top: 9px;
            margin-bottom: 9px;
        }
        .client-info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
        }
        #client-name{
            height: 20px;
            font-weight: bolder;
        }

        #client-cnpj{
            height: 20px;
            font-weight: bolder;
        }
        .ftcarrinho{
            width: 30px;
            height: 30px;
        }
